*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:"Inter",sans-serif;
}


.auth-container{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:
radial-gradient(circle at top,#3b1d4a,transparent 40%),
#090909;

}



.auth-card{

width:420px;

padding:40px;

background:rgba(20,20,20,0.8);

border:1px solid rgba(255,255,255,0.1);

border-radius:25px;

backdrop-filter:blur(20px);

box-shadow:0 0 40px rgba(180,80,255,.2);

color:white;

}



.logo{

font-size:28px;

font-weight:700;

text-align:center;

color:#d9a8ff;

margin-bottom:25px;

}



.auth-card h2{

text-align:center;

font-size:30px;

}



.auth-card p{

text-align:center;

color:#999;

margin:10px 0 30px;

}



.input-box{

margin-bottom:20px;

}



.input-box label{

display:block;

margin-bottom:8px;

}



.input-box input{

width:100%;

padding:14px;

border-radius:12px;

border:1px solid #333;

background:#111;

color:white;

outline:none;

}



.input-box input:focus{

border-color:#c084fc;

}



button{

width:100%;

padding:14px;

border:none;

border-radius:12px;

background:linear-gradient(90deg,#c084fc,#8b5cf6);

color:white;

font-size:16px;

cursor:pointer;

}



.forgot{

text-align:right;

color:#c084fc;

margin-bottom:20px;

font-size:14px;

}



.switch{

text-align:center;

margin-top:25px;

color:#aaa;

}



.switch span{

color:#d8a4ff;

cursor:pointer;

}
.password-box{
display:flex;
align-items:center;
border:1px solid #ddd;
border-radius:8px;
padding-right:10px;
}


.password-box input{

border:none;
outline:none;
flex:1;

}


.password-box span{

cursor:pointer;
font-size:14px;
color:#2563eb;

}


.switch a{

text-decoration:none;

}


.switch span{

color:#2563eb;
font-weight:600;
cursor:pointer;

}